<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Sa3dne</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>insight_version_8</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	
	<!-- Privacy - Camera Usage Description -->
	<key>NSCameraUsageDescription</key>
	<string>هذا التطبيق يحتاج إلى الكاميرا لتحليل النماذج والعملات</string>
	
	<!-- Privacy - Photo Library Usage Description -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>هذا التطبيق يحتاج إلى الوصول للمعرض لاختيار الصور</string>
	
	<!-- Privacy - Microphone Usage Description -->
	<key>NSMicrophoneUsageDescription</key>
	<string>هذا التطبيق يحتاج إلى الميكروفون لتحويل الكلام إلى نص</string>
	
	<!-- Privacy - Documents Folder Usage Description -->
	<key>NSDocumentsFolderUsageDescription</key>
	<string>هذا التطبيق يحتاج إلى الوصول للمستندات</string>
	
	<!-- Privacy - File Provider Domain Usage Description -->
	<key>NSFileProviderDomainUsageDescription</key>
	<string>هذا التطبيق يحتاج إلى الوصول للملفات لتحليل المستندات</string>
</dict>
</plist>
